
<ion-content class="ion-padding">
  <div align="center"> <img src="https://i.ibb.co/zNtJjn4/133482.jpg" height="200px" ></div>
  <ion-card>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input required="required" autofocus="autofocus" type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input required="required" autofocus="autofocus"  type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>

          <ion-button align="center" expand="block" shape="round" type="submit" (click)="login()">Login</ion-button>

      </ion-list>
    </form>
  </ion-card>

  <div style="text-align: center;">
  <p>No Tiene Cuenta?, <a [routerLink]="['/register']">Registrate Aqui!</a></p>
  <p><a [routerLink]="['/forgort-password']">¿Olvido su Constraseña?</a></p>
  </div>

</ion-content>
<ion-footer >
  <p style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;">&copy; DINOCO 2021</p>
</ion-footer>
