<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button menu="main-menu">
      </ion-menu-button><ion-title style="text-align: center;">Registrar Cliente</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">RUC / RICE</ion-label>
    <ion-input type="text" [(ngModel)]="cliente.precio" id="txtNombre" ></ion-input>
  </ion-item>
   <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="cliente.nombre" id="txtNombre" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="cliente.apellido" id="txtApellido" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telf</ion-label>
    <ion-input type="text" [(ngModel)]="cliente.telf" id="txtTelf" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="text" [(ngModel)]="cliente.correo" id="txtCorreo" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Local</ion-label>
    <ion-input type="text" [(ngModel)]="cliente.descripcion" id="txtDescripcion" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha</ion-label>
    <ion-datetime [(ngModel)]="cliente.stock" id="txtFecha" displayFormat="MM/DD/YYYY" min="2021-08-01"
    max="2022-12-09" value="2002-09-23"></ion-datetime>
  </ion-item>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-button (click)="agregarCliente();">GUARDAR</ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-content>
