<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button menu="main-menu">
      </ion-menu-button><ion-title style="text-align: center;">Perfil Usuario</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <h3>{{user?.userName}}</h3>
      <h3>{{user?.userEmail}}</h3>
      <h3>{{user?.userPhone}}</h3>
    <h3>{{user?.createdAt | date }}</h3>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" shape="round" (click)="editProfile()">Editar Perfil</ion-button>

</ion-content>
<ion-footer >
  <p style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;">&copy; DINOCO 2021</p>
</ion-footer>
